# Mac specific
**/.DS_Store

# IDE specific
.vscode/
.idea/

# Project config
/config.json
/logging.json

# Project log
log/

# Compiled code / checkpoints
**/.ipynb_checkpoints/
**/*.py[cod]
__pycache__/

# Distribution / packaging
dist/

# Exceptions
!**/.gitkeep

# specific to my experiments.
play_notebook.*
bikash_todo.txt
.gitignore

# hide data and figures for Q7
*/Q7_figures/


scholar.log
